body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.lanes {
    min-height: 60vh;
}

.task-card {
    margin: 0 auto;
    z-index: 1;
}

.task-card:hover {
    cursor: grab;
}

.card {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,115,230,1) 33%, rgba(0,212,255,1) 100%); 
    color: white;
}